/*
 * Globals
 */

/* Links */


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

}

.cover-container {
  max-width: 42em;
}

#apresentacao{
  margin-top: 240px;
  margin-bottom: 250px;
  border-left: 6px solid rgb(94, 186, 223);
  height: auto;
  padding: 10px 10px 10px 10px;
}

#perguntas{
  margin-top: 200px;
  margin-bottom: 500px;
}

.perguntaquestionario{
  font-size: 20px;
}

.nivelconhecimento{
  padding: 10px 10px 20px 10px;
  border: 10px auto 10px auto;
}

/*
 * CRUD
 */
 #titulofoco{
  margin-top: 100px;
  margin-bottom: 5px;
  height: auto;
  padding: 10px 10px 10px 10px;
}

 #agendatelefonica{
   margin: 65px auto 80px auto;
 }

 #cadastrosucesso{
  margin-top: 80px;
  border-left: 6px solid rgb(94, 186, 223);
  height: auto;
  padding: 10px 10px 10px 10px;
 }
 #btnvoltar{
   margin-top: 50px;
 }

 #codigoexemplo{
   color: rgb(255, 0, 157);
 }

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

@media (max-width: 600px){
  #apresentacao{
    margin-top: 100px;
    margin-bottom: 250px;
    border-left: 6px solid rgb(94, 186, 223);
    height: auto;
    padding: 10px 10px 10px 10px;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
